# Rename this file to .env and change variables

# DB env
MARIADB_ROOT_PASSWORD=<YOUR_ROOT_DB_PASSWORD>
MARIADB_DATABASE=<YOUR_DATABASE_NAME>
MARIADB_USER=<YOUR_DATABASE_USER>
MARIADB_PASWORD=<YOUR_DATABASE_USER_PASSWORD>

# Domain name
DOMAIN_URL=<YOUR_DOMAIN_NAME>